@import './../../../../sass/colours';

nav {
  margin-bottom: 20px;
}

.navbar {
  background: $blue !important;
  color: white !important;
  padding: 10px;
}

.link-active {
  border-bottom: 3px solid $mid-blue;
}

.navbar-brand {
  padding: 10px;
}

.navbar>a {
  color: white !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: white !important;
}

