<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/dashboard">SMS Builder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="link-active">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/templates" routerLinkActive="link-active">Templates</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/sms" routerLinkActive="link-active">SMS</a>
        </li>
      </ul>
    </div>
  </nav>
  
  