.box-centered {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

.box {
  -webkit-box-shadow: 0px 6px 22px 1px rgba(143, 143, 143, 0.76);
  -moz-box-shadow: 0px 6px 22px 1px rgba(143, 143, 143, 0.76);
  box-shadow: 0px 6px 22px 1px rgba(143, 143, 143, 0.76);
  padding: 5px;
}

.card {
  border-radius: 0px;
  border: none;
}
