@import './mixins';

@import './containers';
//@import './images';
@import './utils';
@import './colours';
@import './buttons';
//@import './icons';
@import './modals';


body {
    background-color: $background;
}

* {
  font-family: 'Roboto', sans-serif;
}

button:hover {
  cursor: pointer;
}

.gu-mirror {
  border: 2px dashed $blue !important;
}

.gu-transit {
  border: 2px dashed $green !important;
  opacity: 0.5 !important;
}

main {
  margin-top: 10px;
  width: auto;
  height: 80mm;
}

.footer {
  height: 40mm;
  border-top: 1px solid $red;
}

.footer-preview {
  height: 40mm;
}

.header {
  min-height: 303px;
  height: 303px;
  border-bottom: 1px solid $red;
}

.header-preview {
  min-height: 303px;
  height: 303px;
}

.address {
  background: $lighcoral;
  padding: 5mm;
  height: auto;
  width: 95mm;
  margin-right: 13mm;
  position: relative;
  bottom: 20mm;
  .card {
    height: 37mm;
    width: 85mm;
  }
}

.address-preview {
  padding: 5mm;
  height: auto;
  width: 95mm;
  margin-right: 13mm;
  position: relative;
  bottom: 20mm;
  .card {
    height: 37mm;
    width: 85mm;
    background: lightgray;
  }
}

.letter-preview {
  padding: 5mm; // border: 1px solid $coral;
  // background: $lighcoral;
  height: auto;
  width: 230mm;
  margin-bottom: 20px;
}

