

<div class="card box">
  <div class="card-body">
    <h4>SMS Template</h4>
    <hr />

    <form #templateCreate="ngForm" >
      <div class="form-group">
        <input type="text" name="name" class="form-control" id="name" placeholder="Template name" ngModel />
      </div>

      <div class="form-group">
        <textarea 
          name="description" 
          id="description" 
          cols="10" 
          rows="4" 
          class="form-control"
          placeholder="Template Description" ngModel></textarea>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" /> Singleton
        </label>
      </div>
      
      <hr />
      <button type="submit" class="btn btn-blue btn-block">Save Template</button>
    </form>

  </div>
</div>
