<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <section id="createTemplate">
        <app-sms-create></app-sms-create>
        <app-sms-variables></app-sms-variables>
      </section>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <section class="col-md-5">
          <app-sms-input (newTemplate)="setTemplate($event)"></app-sms-input>
        </section>
        <div class="col-md-1"></div>
        <section class="col-md-5">
          <app-sms-preview [newTemplate]="template" ></app-sms-preview>
        </section>
      </div>
        <app-sms-data class="row" id="sms-footer"[newChars]="chars" [newSmsCount]="smsCount"></app-sms-data>
    </div>
  </div>
</div>
