
<div id="variables" class="card box">
  <div class="card-body">
    <h4><span class="icon-tag"></span> Variables</h4>
    <hr />
      <div class="form-group">
        <input 
        #search 
        type="text"
         name="name"
        class="form-control"
        id="name"
        placeholder="Search Variables"
        (ngModelChange)="filterVariables();"
        [(ngModel)]="filter" />
      </div>
      <app-variable-link 
      *ngFor="let variable of variables | slice:0:limit; let i = index"
      [variable]="variable"
      [index]="i">
      </app-variable-link>
      <hr/>
      <button type="submit" *ngIf="limit !== varsLength"(click)="loadMoreVars()"class="btn btn-blue btn-block">Load More</button>
  </div>

</div>
