<form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="icon-user"></span></span>
      <input type="text" name="username" class="form-control" placeholder="Username" ngModel />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="icon-lock"></span></span>
      <input type="password" name="password" class="form-control" placeholder="Password" ngModel />
    </div>
  </div>

  <button type="submit" class="btn btn-blue btn-block">Login</button>
</form>
