<div class="container">
  <div class="row box-centered">
    <div class="col col-md-4 mx-auto">
      <section id="login-logo">
        <img src="assets/logo.png" alt="logo" class="img-responsive logo" />
      </section>

      <section id="login-box" class="padding-top-20">
        <div class="card box">
          <div class="card-body">
            <app-login-form (handleSubmit)="handleSubmit($event)"></app-login-form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
