<div class="col-md-4" style="text-align:center;">
<h5>Est. Number of Chars</h5>
<h1>
  {{newChars}}
</h1>
</div>
<div class="col-md-4" style="text-align:center;">
    <h5>Est. Number of SMS</h5>
    <h1>
      {{newSmsCount}}
    </h1>
    </div>
