
* {
    box-sizing: border-box;
}
section {
    justify-content: center;
}
.preview{
    position:fixed;
    margin:auto;
}
.left {
  position: absolute;
  top: 0;
  left: 35px;
  font-size: 18px
}

.left:after {
    border: 3px solid #2095FE;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    content: " ";
    height: 14px;
    left: -20px;
    position: absolute;
    top: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
}
.right {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 18px
}
header {
  color: rgb(29, 29, 29);
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 1px 2px rgba(1,1,1,0.2);
  height: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 58px;
  white-space: nowrap;
  
}
header h2 {
  font-weight: bold;
  color: #111111;
}
.messages-wrapper {
  padding-top: 10px;
  position: relative;
  margin:auto;
  min-height:542px;
  z-index:-2;
  width:400px;
  background:#fff;
  border: 1px solid #ddd;
  border-top: 0 none;
}
.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    min-height:50px;
    position: relative;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}

.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}
.message:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -17px;
    width: 30px;
    transform: rotate(60deg);
    z-index: -1;
}
.message.from:before {
    border-color: #E5E4E9;
    left: -150px;
    transform: rotateY(110deg);
}
